* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */
.flex {
    display: flex;
}

.line-block {
    display: inline-block;
}

.justy-center {
    justify-content: center;
}

.justy-space {
    justify-content: space-around;
}

.justy-bet {
    justify-content: space-between;
}

.justy-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.opa-30 {
    opacity: 30%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* body */
body {
    background-color: #d7dbd7;
    height: 100vh ;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    height: 120px;
    background-color:#009688;
    padding-top: 20px;
}

/* header */

header {
    width: 80%;
    margin: 0 auto;
    min-width: 900px;
}

header img{
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

header i{
    margin-right: 20px;
    font-size: 20px;
}

.box-ut {
    width: 100%;
}

.icons {
    width: 50px;
}

/* utente */
#utente {
    min-width: 350px;
    width: 30%;
    height: 80px;
    min-height: 80px;
    background-color: #eaeaea;
    padding: 5px 10px;
    border-right: 1px solid #dddddd;
    flex-shrink: 0;
}

/* committer */

#committer {
    width: 70%;
    min-width: 500px;
    height: 80px;
    background-color: #eaeaea;
    padding: 5px 10px;
}

/* main  */

main {
    width: 80%;
    min-width: 900px;
    height: calc(100vh - 150px);
    margin: 0 auto;
    background-color: #fafafa;
}

main img{
    width: 60px;
    border-radius: 50%;
}

/* contatti */
#contatti {
    min-width: 350px;
    width: 30%;
    background-color: #eaeaea;
    border-right: 1px solid #dddddd;
    flex-shrink: 0;
    height:100% ;
}


/* notifiche */
#notifiche {
    height:80px;
    width: 100%;
    background-color: #8ad3f1;
    padding: 10px;
    font-size: 14px;
    
}

#bell {
    width: 50px;
    height: 50px;
    color: #8ad3f1;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
}

#notifiche a{
    color: black;
}

/* barra della ricerca */

#ricerca {
    padding: 5px;
}

#ricerca label {
    display: inline-block;
    height: 30px;
    width: 15%;
    text-align: center;
    opacity: 30%;
}

#ricerca input {
    width: 70%;
    height: 30px;
    border: 1px solid #dddddd;
}

#lista h5 {
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
}
/* lista contatti */
#lista {
    overflow-x:hidden;
    overflow-y:scroll;
    height: calc(100vh - 270px);
}

#lista .flex{
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    background-color: white;
    
}

#lista .flex:hover {
    opacity: 0.5;
}

/* chat block */

#chat {
    width: 70%;
    min-width: 500px;
    background-color: #eaeaea;
}

#chat-box {
    width: 100%;
    height: calc(100% - 80px) ;
    background-image: url("../img/mine.jpg");
    background-position: center;
    background-size: auto;
    padding: 50px;
    overflow-y: scroll;
}

#chat-box .box-text {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    overflow-wrap: break-word;
}

#chat-box i {
    cursor: pointer;
}


.box-text h4{
    font-weight: 500;
}

.box-text span {
    opacity: 30%;
    font-size: 10px;
    margin-left: 70px;    
}

#chat-bar {
    background-color: #f3eeea;
    height: 80px;
    padding: 20px;
}

#chat-bar i{
    font-size: 30px;
    opacity: 30%;
}
#chat-bar input{
    font-size: 18px;
    width: 80%;
    height: 30px;
}



/* common chat */

.sent {
    margin-left: auto;
    background-color: #4de055;
    position: relative;
}

.recived {
    background-color: white ;
    position: relative;
}

/* menu a tendina */
.tent {
    position: absolute;
    top: 90%;
    z-index: 50;
    background-color: white;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.3);
}

.tent h5{
    font-weight: 500;
    margin: 20px;
    font-size: 16px;
}

.tent h5:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}