* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */
.flex {
    display: flex;
}

.justy-center {
    justify-content: center;
}

.justy-space {
    justify-content: space-around;
}

.justy-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.opa-30 {
    opacity: 30%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* body */
body {
    background-color: #d7dbd7;
    height: 100vh;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 120px;
    background-color:#009688;
    position: relative;
}

/* header */

header {
    width: 80vw;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: 10%;
    min-width: 900px;
}

header img{
    width: 70px;
    border-radius: 50%;
}

header i{
    margin-right: 20px;
    font-size: 20px;
}

.box-ut {
    width: 100%;
}


/* utente */
#utente {
    min-width: 30%;
    height: 80px;
    background-color: #eaeaea;
    padding: 5px 10px;
    border-right: 1px solid rgb(182, 182, 182);
}

/* committer */

#committer {
    min-width: 70%;
    height: 80px;
    background-color: #eaeaea;
    padding: 5px 10px;
}

/* main  */

main {
    width: 80vw;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 10%;
    min-width: 950px;
}

main img{
    width: 70px;
    border-radius: 50%;
}

/* notifiche */
#notifiche {
    height:80px;
    width: 30%;
    background-color: #8ad3f1;
    float: left;
    padding: 10px;
}

#bell {
    width: 56px;
    color: #8ad3f1;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
}

