<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>boolzapp</title>
</head>
<body>
    <div class="container" id="app">
        <!-- header -->
        <header class="flex">
            <!-- user -->
            <div class="flex justy-space" id="utente">
                <div class="box-ut flex align-center">
                    <img src="img/avatar_2.jpg" alt="utente">
                    <h4>Nome Utente</h4> 
                </div>
                <div class="icons box-ut flex align-center justy-end opa-30">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </div>
            <!-- fine user -->

            <!-- contatto attivo -->
            <div id="committer" class="flex justy-space">
                
                <div class="box-ut flex align-center">
                    <img class="avatar" :src="contacts[contatore].avatar" alt="user avatar">
                    <div>
                        <h4 id="nomechat">{{contacts[contatore].name}}</h4> 
                        <span class="opa-30">Ultimi accesso oggi alle</span>
                    </div>
                </div>

                <div class="box-ut flex align-center justy-end opa-30">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                
            </div>
            <!-- fine contatto attivo -->
        </header>
        <!-- fine headaer -->
    
        <main class="flex">
            <!-- sezione contatti -->
            <div id="contatti">
                <div id="notifiche" class="flex align-center ">

                    <div id="bell" >
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div>
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a class="opa-30" href="#">Attiva notifiche desktop</a>
                    </div>
                    
                </div>
                <nav id="nav">

                    <!-- barra di ricerca -->
                    <div id="lista">

                        <div id="ricerca">
                            <label for="search"><i class="fas fa-search"></i></label>
                            <input v-model="filtro" @keyup="filterUser()" id="search" type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>

                        <div @click="insert(index)" class="flex" v-for="(item, index) in contacts" v-if="item.visible == true"><img :src="item.avatar" alt="contacts.name">
                            <h4>{{item.name}}</h4>
                        </div>
                    </div>
                </nav>

            </div>
            <!-- fine sezione conatti -->

            <!-- sezione chat -->
            <div id="chat">
                <div id="chat-box">
                    <div class="flex" v-for="obj in contacts[contatore].messages">
                        <div class="box-text" :class="(obj.status == 'sent') ? ' sent' : ' recived'">
                            <h4>{{obj.text}}</h4><span>{{obj.date}}</span>
                            <div>
                                <i @click='obj.toggle = !obj.toggle'  class="fas fa-chevron-down"></i>
                                <div class="tent" v-show='obj.toggle'>
                                    <h5>info messaggio</h5>
                                    <h5>elimina messaggio</h5>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>

                <!-- chat input -->
                <div class="flex align-center justy-bet" id="chat-bar">
                    <i class="far fa-smile"></i>
                    <input v-model="newMex" @keyup.enter="addMex(newMex)" id="chat-log" type="text">
                    <i class="fas fa-microphone"></i>
                </div>
                <!-- fine chat input -->

            </div>
            <!-- fine sezione chat -->
        </main>

    </div>

    <script src="js/script.js"></script>
</body>
</html>